:root {
  --initial-width: 480px;
  --maximize-scale: 2;
  --cb-icon-size: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;
}

#minimap_dialog {
  font-family: sans-serif;
  padding: 30px;
  background-color: crimson;
  color: cornsilk;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0,0,0,.3);
  outline-style: solid;
  outline-color: cornsilk;
  outline-offset: -2px;
  outline-width: 2px;
}

#minimap_dialog::backdrop {
  opacity: 0.8;
  backdrop-filter: blur(5px);
}

#minimap_dialog > p {
  margin: 5px;
  font-size: larger;
}

#minimap_dialog > button {
  position: absolute;
  top: 2px;
  right: 2px;
  margin: 5px;
  padding: 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#minimap_dialog > button::before {
  -webkit-mask: url(./icons/btn_dialog_close.svg) match-source center/ 80% no-repeat;
  mask: url(./icons/btn_dialog_close.svg) match-source center/ 80% no-repeat;
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  background-color: cornsilk;
}

#minimap_dialog > button:hover::before {
  background-color: darkred;
}

.simple_container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.3); 
  overflow: clip;
  background-color: #fff;
}

.map_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  aspect-ratio: 16/9;
  width: var(--initial-width);
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 25vw;
  max-height: calc(100% - 40px);
  transition: width 0.5s, height 0.5s, max-width 0.5s, max-height 0.5s, min-height 0.5s, aspect-ratio 0.5s, transform 0.5s;
}

.map_container_maximize {
  width: calc(var(--initial-width)*var(--maximize-scale));
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  aspect-ratio: 8/5;
}

#map_svg {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
}

.controls {
  margin: 20px;
  display: inline-flex;
  column-gap: 10px;
}

.controls_container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.controls_separator {
  border: none;
  border-right: 2px solid #878786;
}

.map_control_btn {
  padding: 0;
  vertical-align: baseline;
  overflow: visible;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  font: inherit;
  list-style: none;
  cursor: pointer;
  margin: 5px;
  height: var(--cb-icon-size);
  width: var(--cb-icon-size);
}

.map_control_btn::before {
  height: var(--cb-icon-size);
  width: var(--cb-icon-size);
  display: inline-block;
  content: '';
  background-color: #878786;
  -webkit-mask: none center no-repeat;
  mask: none center no-repeat;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}

.map_open_btn {
  margin: 10px;
  height: calc(10px + var(--cb-icon-size));
  width: calc(10px + var(--cb-icon-size));
}

.map_open_btn::before {
  -webkit-mask-image: url(./icons/btn_map_open.svg);
  mask-image: url(./icons/btn_map_open.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.dragging {
  cursor: -webkit-grabbing;
  cursor:-moz-grabbing;
  cursor: grabbing;
}

.map_control_btn:hover {
  color: #585656;
}

.map_control_btn:hover::before {
  background-color: #585656;
}

.map_control_btn[active] {
  outline: 2px solid #1a73e88a;
  border-radius: 8px;
  background-color: #1a73e817;
  color: #1a73e88a;
}

.map_control_btn[active]::before {
  background-color: #1a73e88a;
}

.hidden {
  visibility: hidden;
}